* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top{
  width: 100%;
  height: 80px;
  background-color: #DCDCDC;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.margin{
  margin-left: 150px;
  margin-right: 150px;
}

/*Parte sinistra*/

header p{
  font-size: 15px;
  padding: 10px 20px;
  color: grey;
  display: inline-block;
}
#personale a{
  color: black;
}
/*Parte destra*/
#right-grey{
  margin-right: 150px;
}
/*Revolut*/
.Revolut-top{
  margin-top: 30px;

}
.flex-between{
  display: flex;
  justify-content: space-between;
}
h2{
  display: inline-block;
  padding: 10px 20px;
}

nav ul, li{
  color: grey;
  display: inline-block;
  padding: 10px 20px;
}
.button{
  background-color: black;
  color: white;
  height: 50px;
  padding: 10px 20px;
  border-radius: 10px;
}
.parent-dropdown{
  position: relative;
}
.header-menu-dropdown{
  position: absolute;
  width: 340px;
  height: 200px;
  z-index: 999;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  display: none;
  background-color: white;
}
a{
  color: grey;
  text-decoration: none;
}
.altro-grey{
  color: #cccccc;
}
.block{
  width: 200px;
}
/*JUMBOTRON*/
main{
  width: 100%;
  height: 700px;
  background-image: url("../img/home.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

h1{
  font-size: 70px;
}
main p{
  color: grey;
  margin-top: 50px;
}
main div{
  margin-top: 50px;
}
#prefix{
  width: 40px;
}
form input{
  margin: 15px;
  margin-bottom: 50px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid grey;
}
#img-phone{
  width: 400px;
  display: none;
}
.hamburger-menu{
  width: 100%;
  display: flex;
  align-items: flex-start;
  display: none;
}
.fa-bars{
  width: 50px;
  display: none;
}
.fa-times{
  display: none;
  width: 50px;
}

.hamburger-menu ul li{
  display: block;
}
.hidden-menu{
  display: none;
  padding: 20px;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
  z-index: 1000;
}
.margin-link-menu{
  color: black;
  margin-left: 50px;
}
.margin-submenu{
  margin-left: 30px;
}
hr{
  width: 80%;
  height: 1px;
  color: grey;
}
#line-container{
  display: flex;
  justify-content: center;
}
.chevron-container{
  display: flex;
  justify-content: space-between;
}
/*media*/
@media only screen and (max-width: 1025px) {
  #top{
    display: none;
  }
  h1{
    margin-left: 15%;
    margin-right: 15%;
  }
  main p{
    margin-left: 15%;
    margin-right: 15%;
  }
  main{
    background-image: none;
  }
  form, button, span{
    display: none;
  }
  #img-phone{
    display: block;
    margin-left: 30%;
    margin-right: 15%;
  }
  .hamburger-menu{
    display: block;
    display: flex;
    justify-content: flex-end;
  }
  .fa-bars{
    display: block;
    margin-top: 15px;
  }
  .fa-times{
    margin-top: 15px;
  }

}
